.collect_item {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.item_wrap {
    width: 120%;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #cccccc;
    position: absolute;
    left: 0;
}
.item_wrap img {
    display: block;
    width: 140px;
    height: 80px;
    border: 1px solid aliceblue;
}

.collect_item_right {
    padding: 0 15px;
}

.collect_item_right h4 {
    margin-bottom: 10px;
}

.collect_item_right p {
    color: #bdbdbd;
    font-size: 12px;
}