body, ul, p, h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}

input, button, textarea {
    outline:none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
}