.item {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}
.item:hover {
    background: aquamarine;
}
.item img {
    display: block;
    width: 140px;
    height: 60px;
}
.item .content_des {
    padding: 0 15px;
}

.title_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title_wrap span:nth-child(1){
    font-size: 18px;
    color: #000000;
}

.title_wrap span:nth-child(2){
    font-size: 14px;
    color: #a3a3a3;
}

.item .content_des p {
    color: #bdbdbd;
    font-size: 12px;
    padding-top: 10px;
}