.women_list_item_wrap {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

.women_list_item_wrap:hover {
    background: aquamarine;
}

.women_img {
    width: 100px;
    height: 60px;
}

.women_list_item_right{
    padding: 0 15px;
}

.women_list_item_right p {
    color: #bdbdbd;
    font-size: 12px;
    padding-top: 10px;
}

.title_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title_wrap span:nth-child(1){
    font-size: 18px;
    color: #000000;
}

.title_wrap span:nth-child(2){
    font-size: 14px;
    color: #a3a3a3;
}

