#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #d44580;
    height: 50px;
    text-align: center;
    color: white;
}

#header img {
    width: 40px;
    height: 40px;
}