#personal_wrap {
    height: 100%;
    background: #d44580;
}

#un_login {
    padding: 15px;
    color: #e893ba;
}

#un_login form {
    color: white;
}

#un_login a {
    position: absolute;
    right: 0;
    padding: 10px;
}

#un_login input {
    border: none;
    border-bottom: 1px solid #e893ba;
    width: 100%;
    font-size: 15px;
    height: 45px;
    color: white;
    padding-left: 40px;
}

#un_login form input:nth-child(1){
    background: transparent url("/static/img/icon_user.png") no-repeat -10px top;
}

#un_login form input:nth-child(3){
    background: transparent url("/static/img/icon_pwd.png") no-repeat -10px top;
}

#un_login input::-webkit-input-placeholder{
    color: #f9c7d4;
}

#un_login input:-moz-placeholder{
    color: #f9c7d4;
}

#un_login input::-moz-placeholder{
    color: #f9c7d4;
}

#un_login input:-ms-input-placeholder{
    color: #f9c7d4;
}

#un_login input:focus{
    border: none;
    border-bottom: 1px solid white;
}

#un_login .login_btn{
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

#un_login .login_btn button {
    width: 200px;
    height: 40px;
    background: none;
    border: 1px solid white;
    border-radius: 18px;
    color: white;
    font-size: 18px;
}


#grid_wrap {
    width:100%;
    position: absolute;
    bottom: 0;
    column-count: 3;
    column-gap: 0px;
    column-rule: 1px solid #cccccc;
    background: white;
}

#grid_wrap div {
    text-align: center;
    height: 120px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid_wrap div img {
    width: 80px;
}

#grid_wrap div span {
    color: #666666;
    margin-top: -30px;
    font-size: 12px;
}
